// body{
//     height: 100%;
//     width: 20vw;
//     padding: 10px;
// }

.logo{
    width: 100px;
    background: none;
}

.navigation{
    border: 1px solid sienna;
    width: 20%;
}